﻿.collection a {
    color: black;
    text-decoration: none;
}

.collection-picked {
    border: 5px dotted #007bff;
    padding: 5px;
}

.collection-create {
    color: black;
    text-decoration: none;
}
.collection-create:hover {
    color: #007bff;
    text-decoration: none;
}
.collection-create:hover div {
    border: outset #007bff;
}