﻿.navbar {
    background-color: rgb(78, 76, 76);
    border-bottom: dashed;
    border-bottom-width: thin;
    border-color: #6A097D;
}

.navbar-brand {
    color: rgb(203, 197, 197);
}

.nav-item {
    color: white;
    font-weight: bold;
}

.nav-item:hover {
    color: #007bff;
    font-weight: bold;
}