﻿@model IEnumerable<Kwest.ViewModels.Achievement.AchievementViewModel>
@{
    ViewBag.Title = "Achievements";
}

<h2>Achievement</h2>

@{
    const int RowSize = 4;
    var AchievementsAmount = Model.Count();
    var NumberOfRows = Math.Ceiling((double)AchievementsAmount / RowSize);
    const int BootstrapRowSize = 12;
    var ColumnSize = $"col-{BootstrapRowSize / RowSize}";
}

@for (var row = 0; row < NumberOfRows; ++row)
{
    <div class="row">
        @{
            var BeginIndex = row * RowSize;
            var EndIndex = BeginIndex + RowSize;

            for (var column = BeginIndex; column < AchievementsAmount && column < EndIndex; ++column)
            {
                var achievement = Model.ElementAt(column);

                <div class="@ColumnSize mt-4 mb-4 text-center">
                    <strong>@achievement.Title</strong>
                    
                    <p class="mt-3">@achievement.Description</p>
                    
                    <div class="progress mb-3">
                        @{ var progress = $"{((double)achievement.Progress / achievement.RequiredRepetitions) * 100}%"; }
                        <div class="progress-bar" role="progressbar" aria-valuenow="@achievement.Progress" aria-valuemin="0" aria-valuemax="@achievement.RequiredRepetitions" style="width:@progress">
                            <span>@achievement.Progress/@achievement.RequiredRepetitions</span>
                        </div>
                    </div>
                    
                    @{
                        var descriptionId = $"{achievement.Type}-description";
                    }
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#@descriptionId" aria-controls="@descriptionId" aria-expanded="false">
                        @achievement.Reward.Title
                    </button>
                    <div id="@descriptionId" class="collapse">
                        <div class="card card-body">
                            @achievement.Reward.Description
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}