﻿@model IEnumerable<Kwest.ViewModels.User.UserRankViewModel>
@{
    ViewBag.Title = "Ranking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mb-4">Ranking</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col" class="header">#</th>
            <th scope="col" class="header">Nickname</th>
            <th scope="col" class="header">Points</th>
        </tr>
    </thead>
    <tbody>
        @{ var length = Model.Count(); }
        @for (var index = 0; index < length; ++index)
        {
            <tr>
                @{ var user = Model.ElementAt(index); }
                <th scope="row">@(index+1)</th>
                <td>@user.Nickname</td>
                <td>@user.Points</td>
            </tr>
        }
    </tbody>
</table>