﻿@model Kwest.ViewModels.Login.LoginFormDTO
@{
    ViewBag.Title = "Login";
}

    <div>
        <h2>Login</h2>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(null, new { @class = "text-danger" } )
            <div class="d-flex justify-content-center">
                <div>
                    <div class="form-group">
                        <small>@Html.LabelFor(model => model.Username)</small>
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <small>@Html.LabelFor(model => model.Password)</small>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    </div>
                    <div class="d-flex justify-content-end">
                        <input class="btn btn-primary" type="submit" value="Login" />
                    </div>
                </div>
            </div>
        }
    </div>