﻿@model Kwest.ViewModels.Register.RegisterFormDTO
@using Kwest.UI.Web.ExtensionMethods;

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<div class="d-flex justify-content-center">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(excludePropertyErrors: true, message: null, htmlAttributes: new { @class = "text-danger" })
        <div>
            <div class="form-group">
                <small>@Html.LabelFor(model => model.UserName)</small>
                @Html.TextBoxFor(model => model.UserName, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationSummaryFor(model => model.UserName, new[] { "text-danger" })
            </div>
            <div class="form-group">
                <small>@Html.LabelFor(model => model.Password)</small>
                @Html.PasswordFor(model => model.Password, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationSummaryFor(model => model.Password, new[] { "text-danger" })
            </div>
            <div class="form-group">
                <small>@Html.LabelFor(model => model.Repassword)</small>
                @Html.PasswordFor(model => model.Repassword, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationSummaryFor(model => model.Repassword, new[] { "text-danger" })
            </div>
            <div class="form-group">
                <small>@Html.LabelFor(model => model.Email)</small>
                @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "form-control", type = "email" })
                @Html.ValidationSummaryFor(model => model.Email, new[] { "text-danger" })
            </div>
            <div class="form-group">
                <small>@Html.LabelFor(model => model.Nickname)</small>
                @Html.TextBoxFor(model => model.Nickname, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationSummaryFor(model => model.Nickname, new[] { "text-danger" })
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Register" />
    }
</div>