﻿@model IEnumerable<Kwest.ViewModels.Collection.Icon.CollectionIconViewModel>
@{
    ViewBag.Title = "Home Page";
}

@if (Model != null && Model.Count() != 0)
{
    <div class="row">
        <div class="col-8 offset-2">
            <div class="collection-picked">

                <div id="picked-collections" class="carousel slide " data-ride="carousel">

                    @{ var firstCollection = Model.ElementAt(0); }
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <a href="@Url.Action("Single", "Collection", new { collectionId = firstCollection.Id })">
                                <img class="d-block w-100" src="data:image/jpeg;base64, @Convert.ToBase64String(firstCollection.MainImage)" />
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>@firstCollection.Title</h5>
                                </div>
                            </a>
                        </div>

                        @foreach (var pickedCollection in Model.Skip(1))
                        {
                            <div class="carousel-item">
                                <a href="@Url.Action("Single", "Collection", new { collectionId = pickedCollection.Id })">
                                    <img class="d-block w-100" src="data:image/jpeg;base64, @Convert.ToBase64String(pickedCollection.MainImage)" />
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>@pickedCollection.Title</h5>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>

                    <a class="carousel-control-prev" href="#picked-collections" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>

                    <a class="carousel-control-next" href="#picked-collections" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>

            </div>
        </div>
    </div>
}