﻿@model Kwest.UI.Web.ViewModel.TemporaryCollectionFormDTO
@using Kwest.UI.Web.ExtensionMethods

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="d-flex justify-content-center">
    @using (Html.BeginForm("Create", "Collection", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(excludePropertyErrors: true)

        <div class="form-group">
            <small>@Html.LabelFor(model => model.Title)</small>
            @Html.TextBoxFor(model => model.Title, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationSummaryFor(model => model.Title, new[] { "text-danger" })
        </div>
        <div class="row">
            <div class="form-group col-auto">
                <small>@Html.LabelFor(model => model.Begins)</small>
                @Html.DateInputFor(model => model.Begins, new[] { "form-control" })
                @Html.ValidationSummaryFor(model => model.Begins, new[] { "text-danger" })
            </div>
            <div class="form-group col-auto">
                <small>@Html.LabelFor(model => model.Ends)</small>
                @Html.DateInputFor(model => model.Ends, new[] { "form-control" })
                @Html.ValidationSummaryFor(model => model.Ends, new[] { "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <small>@Html.LabelFor(model => model.MoneyNeeded)</small>
            @Html.NumberInputFor(model => model.MoneyNeeded, new[] { "form-control" })
            @Html.ValidationSummaryFor(model => model.MoneyNeeded, new[] { "text-danger" })
        </div>
        <div class="form-group">
            <small>@Html.LabelFor(model => model.Description)</small>
            @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationSummaryFor(model => model.Description, new[] { "text-danger" })
        </div>
        <div class="row">
            <div class="form-group col-auto">
                <small>@Html.LabelFor(model => model.MainImage)</small>
                @Html.FileInputFor(model => model.MainImage, new[] { "d-block" }, new[] { "image/jpeg" })
                @Html.ValidationSummaryFor(model => model.MainImage, new[] { "text-danger" })
            </div>
            <div class="form-group col-auto">
                <small>@Html.LabelFor(model => model.MainVideo)</small>
                @Html.FileInputFor(model => model.MainVideo, new[] { "d-block" }, new[] { "video/mp4" })
                @Html.ValidationSummaryFor(model => model.MainVideo, new[] { "text-danger" })
            </div>
        </div>
        <input type="submit" value="Create" class="btn btn-primary" />
    }
</div>