﻿@model Kwest.UI.Web.ViewModel.CollectionIndexViewModel
@using Kwest.UI.Web.ExtensionMethods
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Collections</h2>

@using (Html.BeginForm("Index", "Collection", FormMethod.Post, new { @class = "w-100 mb-3" }))
{
    <div class="row">
        @Html.TextBoxFor(model => model.Criteria.SearchPhrase, new { @class = "col form-control m-3" })
        @Html.EnumDropDownListFor(model => model.Criteria.OrderCategory, new { @class = "col form-control m-3" })
        <div class="col input-group justify-content-center">
            @Html.CheckBoxFor(model => model.Criteria.OnlyFinished, new { @class = "form-check m-3 my-auto" })
            @Html.LabelFor(model => model.Criteria.OnlyFinished, new { @class = "form-check-inline" })
        </div>
    </div>
    <div class="row flex-row-reverse mr-1">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
}

@{
    const int RowSize = 4;
    const int BootstrapRowSize = 12;
    var ColumnSize = $"col-{BootstrapRowSize / RowSize}";
}

@if (this.Request.Cookies.UserLoggedIn())
{
    <div class="row">
        <div class="@ColumnSize p-3">
            <a href="@Url.Action("Create", "Collection")" class="collection-create">
                <div class="card">
                    <div class="card-body d-flex align-content-center justify-content-center">
                        <h1>+</h1>
                    </div>
                </div>
            </a>
        </div>
    </div>
}

@if (Model.Collections != null)
{
    var CollectionAmount = Model.Collections.Count();
    var NumberOfRows = Math.Ceiling((double)CollectionAmount / RowSize);

    for (var row = 0; row < NumberOfRows; ++row)
    {
        <div class="row">
            @{
                var BeginIndex = row * RowSize;
                var EndIndex = BeginIndex + RowSize;

                for (var column = BeginIndex; column < CollectionAmount && column < EndIndex; ++column)
                {
                    var collection = Model.Collections.ElementAt(column);

                    <div class="@ColumnSize p-3 collection">
                        <a href="@Url.Action("Single", "Collection", new { collectionId = collection.Id })">
                            <div class="card">
                                <h5 class="card-header p-1 text-center">@collection.Title</h5>
                                <img class="card-img" src="data:image/jpeg;base64, @Convert.ToBase64String(collection.MainImage)" />

                                <div class="card-body">
                                    <p class="card-subtitle"><strong>Owner:</strong> @collection.Owner</p>
                                    <p><strong>Time left:</strong> @collection.TimeLeft days</p>

                                    @{ var progress = $"{(collection.MoneyCollected * 100) / collection.MoneyNeeded}%"; }
                                    <div class="progress position-relative">
                                        <div class="progress-bar"
                                             aria-valuemin="0"
                                             aria-valuenow="@collection.MoneyCollected"
                                             aria-valuemax="@collection.MoneyNeeded"
                                             style="width:@progress"></div>
                                        <p class="justify-content-center d-flex position-absolute w-100">@collection.MoneyCollected / @collection.MoneyNeeded</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    }
}
else
{
    <p class="text-center">Sorry, there are no collections maching specified criteria.</p>
}