﻿@model Kwest.ViewModels.Collection.CollectionViewModel
@using Kwest.UI.Web.ExtensionMethods

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="d-flex col-8 flex-column offset-2">
        <h2 class="text-center">@Model.Title</h2>
        <p class="text-center">by <strong>@Model.Owner</strong></p>

        <img class="img-fluid mb-3 shadow" src="data:image/jpeg;base64, @Convert.ToBase64String(Model.MainImage)" />
        @if (!Model.Finished)
        {
            <div class="accordion mb-3" id="collection-actions">
                <div class="card">
                    <div class="card-header p-0 reward-header" id="donate-heading">
                        <button class="btn p-2 w-100"
                                type="button" data-toggle="collapse"
                                data-target="#donate-body"
                                aria-expanded="false"
                                aria-controls="donate-body">
                            <h3><small>Donate</small></h3>
                        </button>
                    </div>

                    <div id="donate-body" class="collapse" aria-labelledby="donate-heading" data-parent="#collection-actions">
                        <div class="card-body">
                            @using (Html.BeginForm("Single", "Collection", FormMethod.Post))
                            {
                                <div class="form-group mb-0">
                                    <small>Donation Value</small>
                                    <input type="number" class="form-control mb-3" min="2" name="donationValue" />
                                    <input type="hidden" name="collectionId" value="@Model.Id" />
                                    <input type="hidden" name="collectionTitle" value="@Model.Title" />
                                    <input class="btn btn-primary" type="submit" value="Donate" />
                                </div>
                            }
                        </div>
                    </div>
                </div>

                @if (this.Request.Cookies.UserLoggedIn() && this.Request.Cookies.User().Id != Model.OwnerId)
                {
                    <div class="card">
                        <div class="card-header p-0 reward-header" id="pick-heading">
                            <button class="btn p-2 w-100"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#pick-body"
                                    aria-expanded="false"
                                    aria-controls="pick-body">
                                <h3><small>Pick me!</small></h3>
                            </button>
                        </div>

                        @if (Model.Rewards.HasPickReward)
                        {
                            <div id="pick-body" class="collapse" aria-labelledby="pick-heading" data-parent="#collection-actions">
                                <div class="card-body">
                                    @using (Html.BeginForm("Pick", "Collection", FormMethod.Post))
                                    {
                                        <div class="form-group mb-0">
                                            <p>Currently you have @Model.Rewards.PickRewardAmount rewards that allow you to pick collection.</p>
                                            @if (Model.Rewards.HasPickedCollection)
                                            {
                                                if (Model.Id == Model.Rewards.PickedCollectionId)
                                                {
                                                    <p>You already picked this collection.</p>
                                                }
                                                else
                                                {
                                                    <p>Your last collection pick is still active. You have picked @Html.ActionLink(Model.Rewards.PickedCollectionTitle, "Single", "Collection", new { collectionId = Model.Rewards.PickedCollectionId }, null)</p>
                                                }
                                            }
                                            <p>Are you sure you want to pick this collection?</p>
                                            <input type="hidden" name="collectionId" value="@Model.Id" />
                                            <input class="btn btn-primary" type="submit" value="Pick">
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div id="pick-body" class="collapse" aria-labelledby="pick-heading" data-parent="#collection-actions">
                                <div class="card-body">
                                    <div class="mb-0">
                                        <p>We're sorry but You don't have any rewards that would allow you to pick collections.</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="card">
                        <div class="card-header p-0 reward-header" id="free-payment-heading">
                            <button class="btn p-2 w-100"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#free-payment-body"
                                    aria-expanded="false"
                                    aria-controls="free-payment-body">
                                <h3><small>Free payment</small></h3>
                            </button>
                        </div>

                        @if (Model.Rewards.HasFreePaymentReward)
                        {
                            <div id="free-payment-body" class="collapse" aria-labelledby="free-payment-heading" data-parent="#collection-actions">
                                <div class="card-body">
                                    @using (Html.BeginForm("FreePayment", "Collection", FormMethod.Post))
                                    {
                                        <div class="form-group mb-0">
                                            <p>Currently you have @Model.Rewards.FreePaymentAmount rewards that allow you to financialy support a collection.</p>
                                            <p>Are you sure you want to award this collection with free payment?</p>
                                            <input type="hidden" name="collectionId" value="@Model.Id" />
                                            <input class="btn btn-primary" type="submit" value="Pick">
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div id="free-payment-body" class="collapse" aria-labelledby="free-payment-heading" data-parent="#collection-actions">
                                <div class="card-body">
                                    <div class="mb-0">
                                        <p>We're sorry but You don't have any free payment rewards.</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        }
        <p class="mb-1"><strong>Collection progress:</strong></p>

        @{ var progress = $"{(Model.MoneyCollected * 100) / Model.MoneyNeeded}%"; }
        <div class="progress position-relative">
            <div class="progress-bar"
                 aria-valuemin="0"
                 aria-valuenow="@Model.MoneyCollected"
                 aria-valuemax="@Model.MoneyNeeded"
                 style="width:@progress"></div>
            <p class="justify-content-center d-flex position-absolute w-100">@Model.MoneyCollected / @Model.MoneyNeeded</p>
        </div>

        @if (Model.Finished)
        {
            <p class="text-center font-weight-bold">The collection has ended. Thanks for everyones support.</p>
        }
        else
        {
            <p><strong>Collection begins </strong>@Model.Begins.ToString("dd.MM.yyyy")</p>
            <p><strong>Collection ends </strong> @Model.Ends.ToString("dd.MM.yyyy")</p>
            <p class="text-center"><strong>@Model.TimeLeft day(s) left!</strong></p>
        }
        <p class="lead">@Model.Description</p>

        <video controls class="embed-responsive">
            <source type="video/mp4" src="data:video/mp4;base64, @Convert.ToBase64String(Model.MainVideo)" />
        </video>
    </div>
</div>